<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="card"> 
 <div style= "text-align :left; padding-left: 10px; margin-top:100px; ">
    <h4><b>Name: </b>{{firstName}}<br><br>
        <b>Username: </b>{{username}}<br><br>

    <b>Contact: </b>{{phone}}<br><br>
    <b>Email: </b>{{email}}</h4><br>
    
    </div>
   
  </div>
